.footer {
  background-color: #272423;
  padding: 4vw 16vw 1.5vw;
  color: #fff;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.9vw;

  font-weight: 500;
}

.footer_contacts span {
  font-size: 1.4vw;
  color: #ffa050;
}

.footer_contacts p {
  font-size: 1.6vw;
}

.footer_info {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.footer_info p {
  font-family: 'Montserrat Medium';
  font-size: 1.1vw;
  text-align: center;
}

@media screen and (max-width: 578px) {
  .footer_content {
    flex-direction: column;
    justify-content: center;
  }

  .footer_contacts {
    align-items: center;
    margin-top: 2.9vh;
  }

  .footer_info {
    margin-top: 3.9vh;
    margin-bottom: 2.9vh;
  }
}