.tabs {
  border: 3px solid #fff2;
  border-radius: 64px;
  background-color: #d4d4d41a;
  backdrop-filter: blur(20px);
  padding: 10px 13px;

  display: flex;
  gap: 5px;
  margin: 0 auto;
  width: min-content;
}

.tabs a {
  font-family: var(--font-family-medium);
  font-size: 24px;
  line-height: 36px;
  border-radius: 32px;
  white-space: nowrap;

  display: flex;
  align-items: center;
  gap: 16px;
  padding: 6px 20px;
  color: #fff;
}

.in_active {
  background-color: #fff;
}

.in_active span {
  color: #ffa85e;
}

@media screen and (max-width: 578px) {
  .tabs a {
    font-size: 20px;
    line-height: 30px;
    padding: 6px 11px;
    gap: 4px;
  }
}
