.header {
  width: 100%;
  color: #fff;
  padding-bottom: 28px;

  background-image: url('../../../../../assets/images/profile-header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  display: flex;
  align-items: center;
}

.navbar_tools {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navbar_tools a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.navbar_tools div {
  font-family: 'Montserrat Medium';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  display: flex;
  align-items: center;
  gap: 10px;

  color: #656565 !important;
  background-color: #fff;
  border-radius: 40px;
  padding: 8px 12px;
}
