.bg_wrapper {
  background-color: #272423;
  background-image: url('../../../assets/images/header-bg-02.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;

  padding-bottom: 164px;
}

.auth_block {
  border: 3px solid #fff2;
  border-radius: 64px;
  background-color: #d4d4d41a;
  backdrop-filter: blur(20px);
  padding: 40px 64px 64px;
  max-width: 574px;
  width: 100%;
  margin: 52px auto 0;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.auth_block h2 {
  font-family: 'Montserrat Medium';
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.link_password_recovery {
  font-family: 'Montserrat Light';
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-top: 8px;
  color: #fff;
}

.submit_button {
  margin: 40px auto 0;
  padding: 12px 52px;
}

.submit_button:disabled {
  padding: 12px 70px;
}

@media screen and (max-width: 578px) {
  .bg_wrapper {
    padding: 0 32px 102px;
  }

  .auth_block {
    padding: 28px 29px 32px 28px;
    margin: 24px auto 0;
    display: flex;
    flex-direction: column;
    color: #fff;
  }

  .auth_block h2 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  .link_password_recovery {
    font-size: 12px;
    line-height: 14px;
  }

  .submit_button {
    margin: 32px auto 0;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 21px;
  }
}
