* {
  color: #fff;
}

main {
  background-image: url('../../../assets/images/header-bg-02.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  height: 100vh;
  padding-top: 8vw;
}
